html {
  font-size: 16px !important;
}

#nav-flex {
  justify-content: space-between;
}

/* container section starts here */
/* secondary navbar section starts here */

.secondary-nav>input[type="text"] {
  width: auto !important;
}

/* secondary navbar section ends here */

.fc {
  font-size: 1rem;
}

.fc-daygrid-day-frame {
  max-height: 400px !important;
  padding: 15px !important;
}
/* container section ends here */

/* datatables section starts here */

.dataTables_wrapper {
  overflow-x: auto;
}

.dataTables_wrapper table {
  width: auto !important;  
  font-size: 1rem;
}

/* datatables section ends here */