html {
  font-size: 16px !important;
}

/* container section starts here */
/* secondary navbar section starts here */

.secondary-nav>input[type="text"] {
  width: auto !important;
}

/* secondary navbar section ends here */

.fc {
  font-size: 1rem;
}

.fc-daygrid-day-frame {
  padding: 6px !important;
}
/* container section ends here */