@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Manrope", sans-serif !important;
}

html {
  font-size: 14px !important;
}

html,
body {
  position: relative;
  height: 100%;
}

.w-fit {
  width: fit-content !important;
}

.shadow-custom {
  box-shadow: 0 0 7px var(--bs-border-color) !important;
}

/* event modal section starts here */

.btn-close:focus {
  box-shadow: none !important;
}

/* datepicker section starts here */

.ui-datepicker {
  border: none;
  border-radius: 8px;
}

/* Header (month + year) */
.ui-datepicker-header {
  background: var(--bs-primary);
  color: white;
  border: none;
}

.ui-datepicker-calendar td a {
  padding: 4px;
  border-radius: 4px;
}

/* Hover + selected date */
.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar td.ui-datepicker-current-day a {
  background: var(--bs-primary);
  color: white;
}

button.ui-datepicker-current:hover,
button.ui-datepicker-close:hover {
  background: var(--bs-primary);
  color: white;
}


/* datepicker section ends here */

/* timepicker section starts here */

.ui-timepicker-div .ui-widget-header,
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker .ui-datepicker-buttonpane button {
  background-color: var(--bs-primary);
  color: white;
}

span.ui-slider-handle {
  background-color: var(--bs-primary) !important;
}

/* timepicker section starts here */

/* catagory selector section starts here */

#inputCatagorySelect {
  width: 100% !important;
}

/* catagory selector section ends here */

textarea {
  resize: none !important;
}

/* event modal section ends here */

/* event data modal section starts here */

#eventDataModal input:focus {
  outline: 0 !important;
}

/* event data modal section ends here */

/* navbar section starts here */

#nav-flex {
  flex-direction: column;
  justify-content: center;
}

img[alt="calendar"] {
  transform: skewX(-15deg);
}

.fs-fluid-1 {
  font-size: clamp(1.2rem, 1.014vw + 0.797rem, 1.875rem) !important;
}

/* navbar section ends here */

/* container section starts here */

/* secondary nav section starts here */

.secondary-nav>input[type="text"] {
  border-color: var(--bs-border-color) !important;
  border-width: 1px !important;
}

.secondary-nav>input[type="text"]::placeholder {
  font-weight: 400 !important;
}

.seconadry-nav-select:focus {
  border-color: black !important;
  outline: auto !important;
  box-shadow: none !important;
}

/* secondary nav section ends here */

/* slider section starts here */

.custom-pagination button:focus {
  outline: 0 !important;
}

.primary-button {
  background-color: var(--bs-primary) !important;
}

/* calendar section starts here */

#calendar {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
}

.fc {
  font-size: 0.85rem !important;
}

.fc-daygrid-day-frame {
  aspect-ratio: 1 / 1 !important;
  padding: 2px !important;
}

.fc .fc-daygrid-day:hover {
  cursor: pointer;
}

.fc-past-disabled {
  position: relative !important;
  background-color: #f0f0f0 !important;
  /* pointer-events: none !important; */
  opacity: 0.6 !important;
}

.fc-past-disabled::after {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

/* calendar section ends here */

/* dataTables section starts here */

.table-responsive {
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
}

.white-space {
  white-space: nowrap !important;
}


/* dataTables section ends here */

/* slider section ends here */

/* container section ends here */


/* media query section*/
@media screen and (min-width:325px) {
  select.seconadry-nav-select {
    width: auto !important;
  }
}

@media screen and (min-width:450px) {
  #nav-flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .fc {
    font-size: 0.85rem;
  }

  .fc-daygrid-day-frame {
    padding: 2px !important;
  }
}